In [10]:
import pandas as pd
df=pd.read_csv("main.csv");
df

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg
...,...,...,...,...,...,...,...
295,1203,butter-0.25,dairy,2021-11-26,11.90,31,pcs
296,1203,butter-0.25,dairy,2021-11-27,11.90,29,pcs
297,1203,butter-0.25,dairy,2021-11-28,11.90,37,pcs
298,1203,butter-0.25,dairy,2021-11-29,11.90,34,pcs
299,1203,butter-0.25,dairy,2021-11-30,11.90,36,pcs

In [4]:
import re
df1="butter-0.25"
float(re.findall("\d+\.\d+",df1)[0])

0.25

In [20]:
s=[0]*df.shape[0]
df['sales_amount']=s;
df.loc[df["unit"]=="pcs","sales_amount"]=df['sales_quantity']*float(re.findall("\d+\.\d+",df.apply(lambda r:r.product_description,axis=1))[0];
df.loc[df["unit"]=="kg","sales_amount"]=df['sales_quantity']
df

SyntaxError: ignored